.blue-bg{
    background-color: rgb(53, 57, 255);
}

.blue-bg:hover{
    background-color: rgb(11, 14, 214);
}

.red-bg{
    background-color: rgb(255, 20, 16);
}

.red-bg:hover{
    background-color: rgb(216, 4, 0);
}

.rainbow-colors{
    min-height: 100vh;
    height: 100%;
    background-attachment: fixed;
    background: linear-gradient(45deg, 
        #00ffff, #ff8000, #fd1d1d, #833ab4, #00ffff, 
        #ff8000, #fd1d1d, #833ab4, #00ffff);
    background-size: 300% 300%;
    animation: movingBackground 8s infinite linear;
}

@keyframes movingBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}